.b{
    width: 100%;
    height: 50vw;
    background-color: rgba(245, 243, 243, 0.459);
    display: flex;
}

.b2{
    display: flex;
    width: 62vw;
    height: 80px;
    background-color: white;
    margin: 15px 0;
}
.b2_1{
    width: 31vw;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 20px;
}
.b2_2{
    width: 31vw;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}
.b2_2>button{
    width: 12vw;
    height: 50px;
    font-size: 17px;
    color: rgb(37, 125, 240);
    border-radius: 5px;
    border:1px solid lightgray;
    background-color: #fff;
}
.b3{
    width: 62vw;
    height: auto;
    background-color: white;
}
.b4{
    width: 62vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 5px lightgray;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}

.f{
    display: flex;
    width: 100%;
    padding: 30px 0;
    box-shadow: 0 0 5px lightgray;
}
.f1{
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f2{
    width: 31vw;
}
.f2_1{
    font-size: 22px;
    color: black;
}
.f2_2{
    font-weight: bold;
    color: rgb(146, 146, 146);
}
.f2_3{
    padding: 20px 10px 30px 0;
}
.f2_3_1{
    color: rgb(122, 121, 121);
    padding-right: 10px;
}
.f2_4_1{
    color: rgb(122, 121, 121);
}
.f2_4_2{
    font-size: 22px;
    padding: 0 15px;
}
.f2_4_3{
    font-weight: bold;
    color: green;
}
.b4>button{
    width: 300px;
    height: 70px;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    background-color: orangered;
    border: none;    
}

.c{
    width: 26vw;
    height: 400px;
    background-color: #fff;
    margin-left: 20px;
    margin-top: -90px;
    box-shadow: 0 0 10px lightgray;
}
.c1{
    width: 26vw;
    height: 70px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.459);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: rgba(78, 78, 78, 0.548);
}
.c2{
    width: 26vw;
    padding: 30px;
}
.c2_1 table{
    width: 100%;
    height: 240px;
}
.c2_1>table>tr>th{
    font-size: 18px;
    padding: 10px 0;
    color: rgb(88, 88, 88);
}
.c2_1>table>tr>td{
    font-size: 20px;
    text-align: end;
}
.c2_1_1{
    border-bottom: 1px dashed lightgray;
    border-top: 1px dashed lightgray;
    height: 80px;
}
.c2_1>h5{
    color: green;
    font-weight: bold;
    padding: 15px 0;
}